@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: #012c1a;*/
    background-image: url('bg1.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */

}
.wrapper {
    position: relative;
    width: 800px;
    height: 500px;
    background: linear-gradient(90deg, #54880e, #005a1e);
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    padding: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.wrapper .text-right {
    position: absolute;
    top: 45px;
    right: 180px;
    color: #84f7b0;
    text-shadow: 0 0 30px rgba(78, 224, 139, 0.993);
    font-size: 65px;
    /*user-select: none;*/
    font-family: 'Parisienne', cursive;
}
.wrapper .text-right::before {
    content: 'Tracker';
    position: absolute;
    top: 50px;
    right: -5px;
    color: #44f352;
}
/*.wrapper img {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 20%;
    transform: rotate(260deg);
}*/
#animatedImage {
    width: 400px;
    height: 400px;
    right: -10px;
    bottom: -10px;
    position: absolute;
    animation: bounce 2s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
.form-wrapper {
    z-index: 2;
}
.wrapper .form-wrapper.login {
    transition: .7s ease-in-out;
    transition-delay: .7s;
}
.wrapper.active .form-wrapper.login {
    transition-delay: 0s;
    transform: translateX(-400px);
}
.wrapper .form-wrapper.register {
    position: absolute;
    margin-top: 15px;
    transform: translateX(-400px);
    transition: .7s ease-in-out;
}
.wrapper.active .form-wrapper.register {
    transition-delay: .7s;
    transform: translateX(0);
}
h2 {
    font-size: 2em;
    text-align: center;
    color: #f2f2f2;
}
h3 {
    font-size: 1.5em;
    text-align: center;
    color: #f2f2f2;
}
.input-box {
    position: relative;
    width: 320px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #f2f2f2;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #f2f2f2;
    padding: 0 20px 0 40px;
}
.input-box input::placeholder {
    color: rgba(255, 255, 255, .3);
}
.input-box .icon {
    position: absolute;
    left: 15px;
    color: #f2f2f2;
    font-size: 1.2em;
    line-height: 55px;
}
.forgot-pass {
    margin: -15px 0 15px 15px;
}
.forgot-pass a {
    color: #f2f2f2;
    font-size: .9em;
    text-decoration: none;
}
.forgot-pass a:hover {
    text-decoration: underline;
}
button {
    width: 100%;
    height: 45px;
    background: #f2f2f2;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #54880e;
    font-weight: 500;
}
.sign-link {
    font-size: .9em;
    text-align: center;
    margin: 25px 0;
}
.sign-link p {
    color: #f2f2f2;
}
.sign-link p a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 600;
}
.sign-link p a:hover {
    text-decoration: underline;
}